
  <div class="page-header header" >
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
                <form [formGroup]="registerForm" (submit)="onSubmitAddUser()">
                  <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Registro</h4>
                  </div>
                  <p class="description text-center">Ingrese sus datos</p>
                  <div class="card-body">
    
                    <span class="bmd-form-group"><div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">mail</i>
                        </span>
                      </div>
    
                      <input type="email" formControlName="email" name="email" class="form-control validate"  placeholder="Email..." [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="email" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-center">
                        <span class="helper-text red-text" data-error="wrong" data-success="right" *ngIf="f.email.errors.required">Ingrese email</span>
                        <span class="helper-text red-text" data-error="wrong" data-success="right" *ngIf="f.email.errors.email">Email invalido</span>
                      </div>
                    </div></span>
    
                    <span class="bmd-form-group"><div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
    
                      <input type="password" formControlName="password" name="password" class="form-control validate"  placeholder="Contraseña..." [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="password" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-center">
                        <span class="helper-text red-text" data-error="wrong" data-success="right" *ngIf="f.password.errors.required">Ingrese contraseña</span>
                        <span class="helper-text red-text" data-error="wrong" data-success="right" *ngIf="f.password.errors.minlength">La contraseña debe tener un minimo de 6 caracteres</span>
                      </div>
                    </div></span>
    
                  </div>
                  <div class="footer text-center pad">
                    <input class="btn btn-primary btn-wd btn-lg" type="submit" value="Registrarse">
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>